@model HET.DAL.Models.HouseEnergyModel
@{
    ViewData["Title"] = "Home Page";
}
<section>
<div class="container">

    <div class="row justify-content-center gy-4">

        <div class="col-lg-5" data-aos="zoom-out" data-aos-delay="200">

            <div class="php-email-form">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Energy Consumption Result</h2>
                    </div>
                    <div class="col-md-12">
                        <p>Energy Consumption: @Model.EnergyConsumption kWh/m² per year</p>
                    </div>
                </div>
            </div>
        </div>=

    </div>

</div>
</section>